<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="True"/>
    </defaultProxy>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_Statistic_Service">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_TestService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://stat.trekhlebov.pro/Statistic_Service.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_Statistic_Service"
                contract="Statistic_Service.Statistic_Service" name="CustomBinding_Statistic_Service" />
            <endpoint address="http://xaero.somee.com/stat/TestService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_TestService"
                contract="someeTestService.TestService" name="CustomBinding_TestService" />
        </client>
    </system.serviceModel>
</configuration>
